{% extends 'Parts/main.html' %}

{% block main-content %}
<div class="row mt-5">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
        <h1 style="color: #FFF8DC;">Register</h1>
        <div class="card" style="width: 500px;">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
             
                    {{ form.non_field_errors }}
                    <div class="mb-3 text-center">
                      {% for field in form %}
                      <div class="row">
                        <div class="col-12 text-center">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        </div>
                      </div>
                        {{ field }}
                      {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Sign Up</button>
                    <p class="text-center mt-3">Already have an account? <a href="{% url 'user:login' %}" class="text-indigo-500">Log in here</a></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
